@import 'variables';

p,
a,
input,
label,
div,
body {
  font-family: $font-content;
  color: $copy;
}

h1, * h1,
h2, * h2,
h3, * h3,
h4, * h4,
h5, * h5,
h6, * h6 {
  font-family: $font-title;
  color: $dark-copy;
  letter-spacing: 1px;
  margin-top: 0;
}

span {
  font-family: inherit;
  color: inherit;
}

a {
  color: $indigo;
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
  transition: color 50ms ease 0s;

  &:hover, &:active, &:focus {
    color: darken($indigo, 10%);
  }
}
nav, .nav, .dist-side-nav {
  a {
    font-style: normal;
    text-decoration: none;
  }
}

.jumbotron h1 {
  color: $dark-copy;
}

.upper {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
}

.text-light {
  color: $light-copy;
}
.text-red {
  color: $brand-primary !important;
}