@import "~theme/_vars";

.admin-layout {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #F8FAFC;
}

aside {
  width: 240px;
  float: left;
  height: 100vh;
}

main {
  width: calc(100% - 240px);
  float: left;
  padding: 32px 48px 100px;
  background: #F8FAFC;
  min-height: 100vh;
  box-sizing: border-box;
}

.main-content-inner {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
