
// pallete
$red: #c14747;
$dark-gray: #34393e;
$blue: #90bede;
$yellow: #F7D488;

$republican: $red;
$democrat: #4788C1;
$green: #54AF77;
$independent: #C9D6E2;


$dark-copy: #000;
$copy: #333;
$light-copy: #777;

$gray: #78909c;

$brand-primary: $red;
$roboto-font-path: 'assets/fonts/'

