

<form [formGroup]="passwordForm"
    (submit)="onSubmit(passwordForm)">

  <h3 mat-dialog-title>
    Change Subscriber Password
    <small>{{ user.name }}</small>
  </h3>
  <mat-dialog-content>
    <mat-form-field>
      <input id="password"
          formControlName="password"
          matInput
          placeholder="Password"
          required
          type="password" />

      <div *ngIf="get('password').errors; let errors">
        <mat-error *ngIf="errors?.server" [innerHtml]="errors.server.join('<br/>')"></mat-error>
      </div>
    </mat-form-field>

    <mat-form-field>
      <input id="password_confirmation"
          formControlName="password_confirmation"
          matInput
          placeholder="Password Confirmation"
          required
          type="password" />

      <div *ngIf="get('password_confirmation').errors; let errors">
        <mat-error *ngIf="errors?.server" [innerHtml]="errors.server.join('<br/>')"></mat-error>
      </div>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions>

      <button mat-button mat-dialog-close class="btn z-depth-0 waves-effect waves-light blue-grey lighten-5 blue-grey-text left"
          (click)="cancel()"
          type="submit">
        Cancel
      </button>

      <ctb-loader class="right" classes="small" *ngIf="formIsLoading"></ctb-loader>
      <button mat-button type="submit"
          [disabled]="passwordForm.invalid || formIsLoading"
          class="waves-effect waves-light btn right right">
        Submit
      </button>

  </mat-dialog-actions>

</form>
