<div class="admin-page-container">

  <div class="admin-page-header">
    <h1 class="admin-page-title">Events</h1>
  </div>

  <div class="admin-table-container">
    <mat-card class="admin-table-card">
      <mat-card-content style="padding: 16px 24px !important;">
        <table class="bordered responsive-table">

          <thead>
            <tr>
              <th>Event</th>
              <th>Date & Time</th>
              <th>Cost</th>
              <th>Tickets Bought</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let e of (events$ | async)"
                class="clickable-row"
                (click)="viewEvent(e.slug)">
              <td>{{ e.name }}</td>
              <td [innerHTML]="e.date"></td>
              <td>${{ e.ticketPrice | stripeCost }}</td>
              <td>{{ e.ticketsBought || 0 }}</td>
            </tr>
          </tbody>

        </table>
      </mat-card-content>

      <div class="progress" [hidden]="!(isLoading$ | async)">
        <div class="indeterminate"></div>
      </div>

    </mat-card>
  </div>

</div>